.u-section-1 .u-sheet-1 {
  min-height: 876px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 756px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  font-weight: 700;
  margin: 20px 32px 0;
}

.u-section-1 .u-shape-1 {
  width: 494px;
  height: 476px;
  background-image: none;
  margin: 10px auto 0 21px;
}

.u-section-1 .u-image-1 {
  width: 400px;
  height: 440px;
  margin: -486px auto 0 88px;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  letter-spacing: 0px;
  font-style: italic;
  text-align: left;
  margin: 42px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-style: italic;
  padding: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 756px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-list-1 {
  margin: 0 auto;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 533px;
  margin-left: auto;
  margin-right: auto;
  grid-gap: 20px;
}

.u-section-1 .u-list-item-1 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-icon-1 {
  width: 80px;
  height: 80px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 17px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: -57px auto 0 114px;
}

.u-section-1 .u-text-5 {
  margin: 21px 0 0 114px;
}

.u-section-1 .u-list-item-2 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-icon-2 {
  width: 80px;
  height: 80px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 17px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: -57px auto 0 114px;
}

.u-section-1 .u-text-7 {
  margin: 21px 0 0 114px;
}

.u-section-1 .u-list-item-3 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-icon-3 {
  width: 80px;
  height: 80px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 17px;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  margin: -57px auto 0 114px;
}

.u-section-1 .u-text-9 {
  margin: 21px 0 0 114px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 743px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 707px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-shape-1 {
    height: 444px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    width: 452px;
    height: 400px;
    margin-top: -434px;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: 34px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 623px;
  }

  .u-section-1 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 719px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 45px;
    margin-bottom: 45px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 629px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-shape-1 {
    height: 349px;
    width: 336px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    width: 360px;
    height: 319px;
    margin-top: -339px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 40px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 629px;
  }

  .u-section-1 .u-icon-1 {
    width: 76px;
    height: 76px;
    padding: 16px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -66px;
    margin-right: 0;
    margin-left: 100px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 20px;
    margin-left: 100px;
  }

  .u-section-1 .u-icon-2 {
    width: 76px;
    height: 76px;
    padding: 16px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: -66px;
    margin-right: 0;
    margin-left: 100px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 20px;
    margin-left: 100px;
  }

  .u-section-1 .u-icon-3 {
    width: 76px;
    height: 76px;
    padding: 16px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: -66px;
    margin-right: 0;
    margin-left: 100px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-top: 20px;
    margin-left: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 585px;
  }

  .u-section-1 .u-shape-1 {
    height: 385px;
    width: 416px;
    margin-left: 37px;
  }

  .u-section-1 .u-image-1 {
    width: 466px;
    height: 361px;
    margin-top: -375px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: 24px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 548px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 493px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 18px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-shape-1 {
    height: 293px;
    width: 320px;
    margin-top: 20px;
    margin-left: 15px;
  }

  .u-section-1 .u-image-1 {
    width: 330px;
    height: 293px;
    margin-top: -293px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 8px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 96px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 96px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 96px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 96px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 96px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 96px;
  }
}